
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700;900&display=swap');

body{
    margin: 0px;
    padding: 0px;

}
.my-modal{
  background-color: #181B1E !important;
}

.my-modal-header{
  color: #fdaf42 !important;
}
.my-modal-header button{
  background-color:#666768 !important;
}
.my-modal-body{
  color: #b3b3b3 !important;
  font-weight: lighter !important;
}
.my-modal-footer button{
  background-color: #fdaf42 !important;
  padding: 5px 20px  !important;
  color: #191D21;
}
/* Header */


.intro-section{
    width: 100%;
    height: 100vh;
    background-image:url(./images/introsection.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;


}
.nav-logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-logo img{
  width: 32px;
  height: 32px;
  margin: 0px 10px;
}
.nav-link-item{
    text-decoration: none;
    color: whitesmoke;
    margin: 10px;
    font-size: 0.8rem;
    transition: all .3s ease-in-out;
    background-color: transparent;
    
}
.nav-link-item:hover{
    border-bottom: 2px solid #F6C783 ;
    color: #F6C783;
    padding-bottom:10px ;
    background-color:transparent;
    
    
}
.letsChat-btn{
    text-decoration: none;
    color:#F6C783;
    border: 1px solid #fdaf42;
    padding: 5px 25px;
    border-radius: 3px;
    font-size: 0.8rem;
    margin: 0px 20px;
    transition: all .2s ease-in-out;
    
}
.letsChat-btn:hover{
    color: whitesmoke;
    
}


/* Main-Intro */


.intro-text-main-text{
    /* border: 1px solid green; */
    margin-top: 60px;
    margin-left: 100px;
    padding: 10px 50px;
    font-family: 'Cairo', sans-serif;

}

.full-stack-text{
  font-size: 5.0rem;
  letter-spacing: -2px;
  font-weight: bolder;
  color: #fdaf42;
  line-height: 1;
}
.web-dev-text{
  font-size: 4.07rem;
  letter-spacing: -4px;
  font-weight: bold;
  color: white;
  line-height: 1;
}
.tagline-text{
  font-size: 1.07rem;
  font-weight: lighter;
  color: #b3b3b3;
  line-height: 3;
}
.intro-btns .btn-1{
  
  text-decoration: none;
  color: whitesmoke;
  margin-right: 10px;
  padding: 5px 25px;
  border: 1px solid #f5b760;
  border-radius: 4px
}

.intro-btns .btn-2{
  text-decoration: none;
  color: #f5b760;
  border: 1px solid #00d5be;
  border-radius: 4px;
  padding: 5px 25px;
}

.intro-btns a:hover{
  text-decoration: underline #b3b3b3;
}


/* Abouts Section */

.about-section{
  width: 100%;
  height: 100vh;
  background-image: url(./images/abouts-section.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:left top ;

}
.about-main{
  width: 100%;
  max-width: 65%;
  height: 90%;
  background-color: #22262C;
  margin: 0px auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.about-nav{
  width: 100%;
  height: 8%;
  background-color:#22262C;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  justify-content: space-between;
  align-items: center;
  font-family: 'Cairo', sans-serif;
}
.about-nav a{
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: rgb(224, 224, 224);
  border: 1px solid #666768;
  font-weight: lighter;
  font-size: 0.9rem ;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-in-out;
}
.about-nav a:hover{
  color:#F6C783;
  border: 1px solid #fdaf42;
  transform: scale(0.95);
}

/* About sub sections */
.about-sub{
  font-family: 'Cairo', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}
.about-sub small{
  color: #fdaf42;
}
.about-sub h1{
  color: whitesmoke;

}
.about-sub img{
  width: 80%;
  height: 80%;
}
.about-sub p{
  color: #b3b3b3;
  font-weight: lighter;
  font-size: smaller;
}

.about-sub-details{
  padding: 20px 50px;
}

/* MyServices-sub */
.MyService-sub{
  font-family: 'Cairo', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  padding: 0px 10px;
}
.MyServices-sub-details small{
  color: #fdaf42;
}
.MyServices-sub-details h1{
  color:whitesmoke
}
.MyServices-sub-details p{
  color: #fdaf42;
}
.MyServices-sub-details li{
  color: #b3b3b3;
  font-weight: lighter;
  font-size: smaller;
  list-style: none;
}
/* MyExperties-sub */
.MyExperties-sub{
  font-family: 'Cairo', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;

}
.MyExperties-vector{
  margin: 0px 20px;
}
.MyExperties-sub-details small{
  color: #fdaf42;
}
.MyExperties-sub-details h1{
  color:whitesmoke
}
.MyExperties-sub-details p{
  color: #666768;
  font-weight: lighter;
  font-size: smaller;
}
.MyExperties-sub-details li{
  color: #b3b3b3;
  font-weight: lighter;
  font-size: smaller;
  list-style: none;
}
.exp-icons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.exp-icons img{
  width: 50px;
  height: 50px;
  margin: 0px 8px;
}
.exp-icons-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.exp-icons div p{
  color: #b3b3b3;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 0.8rem;
}

/* blogs */

.blogs{
  width: 100%;
  font-family: 'Cairo', sans-serif;  
}

.blog-section-headings{
  padding: 40px 20px !important;
}
.blog-section-headings h1{
  color: #fdaf42;
}
.blogs-txt{
  color: #b3b3b3;
  font-weight: lighter;
  font-size: 1rem;
}
.blogs-msg{
  font-size: small;
  font-weight: lighter !important;
}

.clients-saying{
  margin: 70px 0px;
}
.blogs-card{
  border: 1px solid #666768 !important;
  background-color: #2B2F37 !important;
  transition: all 0.3s ease-in-out;

}
.blogs-card:hover{
background-color: #22262C !important;
}
.blogs-card small{
  color: #00D5BE;
  font-weight: lighter;
}
.blogs-card p{
  padding-top: 12px;
}
.blogs-title{
 color: #fdaf42;
 margin: 0px !important;
}
.blogs-msg {
  color: #b3b3b3;
  font-weight: lighter;
}
.blogs-learnMore-btn{
  background-color: transparent !important;
  border: 1px solid #fdaf42 !important;
  font-size: 0.9rem !important;
  font-weight: lighter !important;
  width: 50%;
}
.blogs-learnMore-btn:hover{
  color: #22262C!important;
  background-color: #fdaf42 !important;
  font-weight: normal !important;
  border: 1px solid #666768 !important;
}

/* Projects Section */

.projects-section{
  width: 100%;
  background: #181B1E;
  padding: 50px 0px !important;
  height: 100%;
}
.projects-section-headings{
  justify-content: space-between;
  align-items: center;
}
.p-section-btns a{
  color: #b3b3b3;
  font-weight: lighter;
  text-decoration: none;
  margin: 0px 10px;
  border: 1px solid #fdaf42;
  border-radius: 4px;
  padding: 4px 25px;
  font-size: small;
}
.p-section-btns a:hover{
  color: #2B2F37;
  background-color: #fdaf42;
  font-weight: normal;
}
.container ul{
  list-style: none;
}
.pro-card{
  background-color: #22262C !important;
  border-bottom: 1px solid #fdaf42 !important;
  font-family: 'Cairo', sans-serif;
  margin: 30px 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: all 0.3s ease-in-out;
}
.pro-card:hover{
  transform: scale(1.02);
  border-bottom: 3px solid #fdaf42 !important;
}
.pro-card img{
  border-radius: 5px;
}
.project-type{
  color: #fdaf42;
  font-weight:lighter;
  font-size: small;
}
.pro-card h5{
  margin: 10px 0px !important;
}
.pro-card p{
  font-size: 0.8rem;
  margin-bottom: 50px !important;
}
.pro-card a{
  background-color: transparent ;
  border: 1px solid #fdaf42;
  transition: all 0.3s ease-in-out;

}
.pro-card a:hover{
  background-color: #fdaf42 ;
  color: #181B1E;
  border: none;
  transform: scale(1.04);
}

.showcase-heading{
  color:whitesmoke;
}
.project-heading{
  color: #fdaf42;
}
.projects-section-headings{
  padding:0px 30px !important;
  font-family: 'Cairo', sans-serif;
}

/* Testimonial Section */
.testimonial-section{
  background-color: #1D2025;
  width: 100%;
  font-family: 'Cairo', sans-serif;
  padding-bottom: 40px;
  padding: 40px 0px !important;
  
}

.tesImage1{
  height: 90px;
  width: 90px;
  border:3px solid #fdaf42;
  border-radius: 50%;
  margin: 10px 0px;
  background-image: url(./ClientsPics/reshaeel.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.tesImage2{
  height: 90px;
  width: 90px;
  border:3px solid #fdaf42;
  border-radius: 50%;
  margin: 10px 0px;
  background-image: url(./ClientsPics/talha.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.tes-card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonial-txt{
  color: whitesmoke;
}
.hcs-heading{
  color: #fdaf42;
}

.clients-saying{
  margin: 70px 0px;
}
.tes-card{
  border: 1px solid #666768 !important;
  border-bottom-left-radius: 20% !important;
  border-top-right-radius: 50px !important;
  background-color: #191D21 !important;

}
.tes-card small{
  color: #fdaf42;
  font-weight: lighter;
}
.tes-card p{
  padding-top: 12px;
}
.client-name{
 color: #b3b3b3;
 margin: 0px !important;
}
.client-msg {
  color: #666768;
  font-weight: lighter;
  text-align: center;
}
.client-learnMore-btn{
  background-color: transparent !important;
  border: 1px solid #b3b3b3 !important;
  font-size: 0.9rem !important;
  font-weight: lighter !important;
}
.client-learnMore-btn:hover{
  color: #fdaf42 !important;
}
/* Contact Section */

.contact-section{
  background-color: #181B1E;
  width: 100%;
  height: auto;
  padding: 50px 0px;
  font-family: 'Cairo', sans-serif;
}
.col-3{
  display: flex;
  justify-content: space-around;
  border: 1px solid #b3b3b3;
  padding: 10px 0px;
  margin: 30px;
  background-color: #181B1E;
  border-bottom-left-radius: 20px;
  transition: all 0.4s ease-in-out;
}
.col-3 i{
  font-size: 2.8rem;
  color: #666768;
}
.col-3 h4{
  color: whitesmoke;
}
.col-3 small{
  font-size: 0.7rem;
  font-weight: lighter;
  color: #fdaf42;
}
.col-3 a{
  text-decoration: none;
}
.cont-section-headings{
  padding: 0px 30px !important;
}
.cont-section-headings small{
  color:whitesmoke
}
.cont-section-headings h1{
  color:#fdaf42
}
.cont-section-headings{
  margin-bottom: 50px;
}
.col-3:hover{
  border: 2px solid #fdaf42;
  transform: scale(0.9);
}
i:hover{
  color: #fdaf42;
}


/* Lets Chat Section */

.letsTalk-section{
  padding: 50px 0px;
  background-color: #1D2025;
  font-family: 'Cairo', sans-serif;
  border-top: 1px solid #2e2d2d;
}
.letsTalk-headings{
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}
.letsTalk-headings h3{
  color: #666768;
}
.letsTalk-headings h1{
  color: whitesmoke;
  font-weight: bolder;
  margin-right: 20px;
}

.footer-nav{
  display: flex;
  text-align: center;
  align-items: center;
  
}
.footerLogo h3{
  margin: 0px 15px;
}
.footerLogo img{
  width: 40px;
  height: 40px;
}
.fnav-link-item{
  color:whitesmoke;
  font-size: 0.9rem;
  font-weight: lighter;
  text-decoration: none;
  margin: 0px 15px;
}
.letsChats-btn{
  padding: 5px 20px;
  border:1px solid #fdaf42;
  border-radius: 3px;
  text-decoration: none;
  color:#fdaf42;
  font-weight: lighter;
  font-size: 0.87rem;
}
.letsChats-btn:hover{
  color: #b3b3b3;
}
.tabs-links{
  width: 100%;
  max-width: 50%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}
.tabs-nav-link-item{
  color: #b3b3b3;
  text-decoration: none;
  font-weight: lighter;
  font-size: 0.9rem;
  margin: 0px 20px;  
}
.tabs-nav-link-item:hover{
  color: #fdaf42;
}    
.copyRight{
  color:gray;
  font-weight: lighter;
  font-size: 0.8rem;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}            
